  <label for="genre_id"> Genre
    <select name="genre_id" type="text">
    <% for (let genre of genres) {%>
      <option value="<%=genre.id%>"><%= genre.genre %></option>
    <% } %>
    </select>
  </label></br>
